<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Flavorful Treats!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='~/css/styles.css'>
  </head>
  <body>
      @* @await Html.PartialAsync("Navbar") *@
    <div class = "container jumbotron">
      @RenderBody()
      @await Html.PartialAsync("Footer")
    </div>
  </body>
</html> 
